/* @content significa que se va tomar los valores que establescamos cuando usemos el mixin*/
/* map-get permite que podamos usar las variables que creamos en nuestro mapa */
:root {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-weight: 400;
}

hr {
  width: 100%;
  height: 1px;
  background-color: hsl(233, 8%, 79%);
  border: none;
  margin: 12px 0;
}

p {
  line-height: 24px;
  color: hsl(236, 13%, 42%);
}

a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.main {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 18px 18px 18px;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 18px 18px 18px;
    max-width: 1150px;
    box-sizing: border-box;
    gap: 30px;
  }
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.navbar .navbar__logo {
  width: 50px;
}
.navbar .navbar__logo img {
  width: 100%;
}
.navbar .navbar__menu {
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: hsl(36, 100%, 99%);
}
.navbar .menu__icon-menu {
  display: block;
}
.navbar .menu__icons-close {
  position: absolute;
  top: 24px;
  right: 18px;
}
.navbar .menu__icons-close .menu__icon-menu-close {
  display: block;
}
.navbar .menu__seccions {
  margin-top: 20vh;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navbar .menu__seccions .menu__link-seccions {
  font-size: 1.3rem;
}
.navbar .menu__seccions .menu__link-seccions:hover {
  color: hsl(5, 85%, 63%);
}

@media (min-width: 768px) {
  .navbar {
    margin: 60px 0 20px 0;
    padding-bottom: 0px;
    padding: 18px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .navbar .navbar__logo {
    width: 65px;
  }
  .navbar .navbar__logo img {
    width: 100%;
  }
  .navbar .navbar__menu {
    width: auto;
    height: auto;
    position: relative;
    flex: 1 1 auto;
    max-width: 425px;
  }
  .navbar .icon-menu {
    display: none;
  }
  .navbar .menu__icons-close {
    display: none;
  }
  .navbar .menu__seccions {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
  .navbar .menu__seccions .menu__link-seccions {
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
  }
}
.main__hero {
  display: grid;
  flex-direction: column;
  margin-bottom: 24px;
}
.main__hero .main__img-container {
  width: 100%;
}
.main__hero .main__img-container img {
  width: 100%;
}
.main__hero .main__first-info {
  width: 100%;
}
.main__hero .main__first-info .first-info__title h1 {
  font-size: 2.7rem;
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  margin: 16px 0;
}
.main__hero .main__first-info .first-info__parragraph p {
  font-weight: 400;
}
.main__hero .main__first-info .first-info__parragraph .first-info__button {
  padding: 16px 30px;
  color: hsl(36, 100%, 99%);
  border: transparent;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: 800;
  background-color: hsl(5, 85%, 63%);
}
.main__hero .main__first-info .first-info__parragraph .first-info__button:hover {
  background-color: hsl(240, 100%, 5%);
}

@media (min-width: 768px) {
  .main__hero {
    grid-column: 1/3;
  }
  .main__hero .main__img-container {
    width: 100%;
    margin-bottom: 16px;
  }
  .main__hero .main__first-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
  }
  .main__hero .main__first-info .first-info__title h1 {
    font-size: clamp(3rem, 6vw, 3.7rem);
    font-weight: 800;
    line-height: 3.7rem;
    margin: 16px 0;
  }
  .main__hero .main__first-info .first-info__parragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
  }
  .main__hero .main__first-info .first-info__parragraph p {
    font-weight: 400;
  }
  .main__hero .main__first-info .first-info__parragraph .first-info__button {
    padding: 18px 36px;
    width: -moz-fit-content;
    width: fit-content;
    color: hsl(36, 100%, 99%);
    border: transparent;
    font-size: 0.9rem;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: hsl(5, 85%, 63%);
  }
  .main__hero .main__first-info .first-info__parragraph .first-info__button:hover {
    background-color: hsl(240, 100%, 5%);
  }
  .main__hero .main__img-container {
    width: 100%;
    height: 300px;
    background-image: url("../../assets/images/image-web-3-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main__hero .main__img-container img {
    display: none;
  }
}
@media (min-width: 992px) {
  .main__hero .main__first-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
.main__articles {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px;
  background-color: hsl(240, 100%, 5%);
  margin: 24px 0;
}
.main__articles .articles__title {
  font-size: 2.7rem;
  color: hsl(35, 77%, 62%);
  margin: 0px;
  margin-bottom: 16px;
}
.main__articles .articles__new {
  width: 100%;
}
.main__articles .articles__new .articles__new-title {
  font-size: 1.3rem;
  color: hsl(36, 100%, 99%);
  margin: 15px 0;
}
.main__articles .articles__new .articles__new-title:hover {
  color: hsl(35, 77%, 62%);
}
.main__articles .articles__new .articles__new-parragraph {
  color: hsl(233, 8%, 79%);
}

@media (min-width: 768px) {
  .main__articles {
    margin: 0px;
  }
}
.news-pages {
  display: grid;
  grid-template-columns: 1;
  gap: 28px;
  margin: 16px 0;
}
.news-pages .news-pages__card-page {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  gap: 18px;
}
.news-pages .news-pages__card-page .card-page__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-pages .news-pages__card-page .card-page__img img {
  width: 100%;
}
.news-pages .news-pages__card-page .card-page__info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
  padding: 3vw 0;
  box-sizing: border-box;
}
.news-pages .news-pages__card-page .card-page__info .card-page__title {
  margin: 0px;
  font-size: clamp(15px, 8vw, 30px);
  color: hsl(233, 8%, 79%);
}
.news-pages .news-pages__card-page .card-page__info .card-page__subtitle {
  margin: 0px;
  font-size: clamp(15px, 4.5vw, 20px);
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}
.news-pages .news-pages__card-page .card-page__info .card-page__subtitle:hover {
  color: hsl(5, 85%, 63%);
}
.news-pages .news-pages__card-page .card-page__info .card-page__parragraph {
  margin: 0px;
  font-size: clamp(10px, 3.5vw, 17px);
  color: hsl(236, 13%, 42%);
  font-weight: 400;
}

@media (min-width: 768px) {
  .news-pages {
    display: flex;
    grid-column: span 3;
  }
  .news-pages .news-pages__card-page .card-page__info {
    display: flex;
    padding: clamp(5px, 0vw, 10px) 0;
  }
  .news-pages .news-pages__card-page .card-page__info .card-page__title {
    font-size: clamp(15px, 3vw, 30px);
  }
  .news-pages .news-pages__card-page .card-page__info .card-page__subtitle {
    font-size: clamp(15px, 1.5vw, 17px);
  }
  .news-pages .news-pages__card-page .card-page__info .card-page__parragraph {
    font-size: 1.3vw;
    font-size: clamp(8px, 1.3vw, 14px);
  }
}
.Page-container {
  position: relative;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.attribution a {
  color: rgb(103, 103, 235);
  font-weight: 800;
}

@media (min-width: 768px) {
  .attribution {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */